main {
  background-color: var(--color-bg);
}

.home main {
  color: var(--color-white);
  padding: 0;
  text-align: center;
}

body:not(.home) main {
  padding: 2.5rem 1rem;
}

@media all and (min-width: 1000px) {
  body:not(.home) main {
    padding: 3.5rem 3rem;
  }
}