.project {
  padding: 2rem 0;
}

.project img {
  margin-bottom: 1.5rem;
}

.project h3 {
  margin-bottom: 1rem;
}

.other-projects {
  margin-top: 1.5rem;
}

@media all and (min-width: 1000px) {
  .project {
    display: flex;
    gap: 1.5rem;
  }

  .project img {
    align-self: baseline;
    max-width: 50%;
  }

  .other-projects {
    column-count: 2;
  }
}

@media all and (min-width: 1400px) {
  .other-projects {
    column-count: 3;
  }
}