{% extends base_template %}

{% block title %}{{ tag }} | Blog{% endblock %}
{% block body_class %}{{ block.super }} blog-tag{% endblock %}
{% block content %}
<div class="blog-wrap">
  <h1><a href="{% url 'django_plugin_blog_index' %}" title="My blog">Blog</a> / tag / {{ tag }}</h1>
  <div class="subscribe">
    <p><strong>Subscribe via</strong></p>
    <a href="{{ request.path }}feed" title="Atom feed of blog posts tagged '{{ tag }}'" class="atom">
      <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#FFFFFF"><path d="M200-120q-33 0-56.5-23.5T120-200q0-33 23.5-56.5T200-280q33 0 56.5 23.5T280-200q0 33-23.5 56.5T200-120Zm480 0q0-117-44-218.5T516-516q-76-76-177.5-120T120-680v-120q142 0 265 53t216 146q93 93 146 216t53 265H680Zm-240 0q0-67-25-124.5T346-346q-44-44-101.5-69T120-440v-120q92 0 171.5 34.5T431-431q60 60 94.5 139.5T560-120H440Z"/></svg>
      Atom
    </a>
  </div>

  {% regroup entries by created.year as entries_by_year %}

  {% for year, entries in entries_by_year %}
  <h2>{{ year }}</h2>
  <div class="entries">
    {% for entry in entries %}
    <p><a href="{{ entry.get_absolute_url }}" class="entry-title">{{ entry.title }}</a> - {{ entry.created|date:"j F Y" }}</p>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
